.todo-list-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background-color: rgba(15, 15, 15, 0.76);
    color: rgba(255, 255, 255, 0.877);
    border-radius: 30px;
    padding-bottom: 10px;
  }

  