#app-container {
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  background: rgba(255, 255, 255, 0.233);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 20px;
  padding-bottom: 10px;
}