.link-stat-container {
    padding-left: 20px;
    position: relative;
  }
  #icon-stat {
    position: absolute;
    right: 10px;
    bottom: 5px;
    margin: 5px;
    display: block;
    max-width: 40px;
    max-height: 40px;
  }